*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
}
body, p, ul, li, a, header, footer {
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	font-family: sans-serif;
	height: 100%;
	overflow-x: hidden;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
ins{
	text-decoration: none;
}
.page_wrapper{
	width: 100%;
	min-height: 100vh;
}
@keyframes cart_anim{
	from {
		bottom:-18px;
	}
	to{
		bottom: 3px;
	}

}
@keyframes cart_anim_m{
	from {
		bottom:-108px;
	}
	to{
		bottom: 19px;
	}

}


@media only screen and (max-width: 980px){
.sec_wrap{

}
.third_wrap{
	
}
.container_box{
	position: relative;
	z-index: 7;
	background: #fff;
	right: 0;
	transition: transform 0.5s;
	overflow: hidden;
}
.container_box.openned_right{
	transform: translateX(-300px);
	-webkit-transform: translateX(-300px);
	-moz-transform: translateX(-300px);
	 transition: 0.5s;
}
.container_box.openned_left{
	transform: translateX(300px);
	-webkit-transform: translateX(300px);
	-moz-transform: translateX(300px);
	 transition: 0.5s;
}
.darkness{
	top: 0;
	right: 0;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0);
    z-index: 1;
    width: 100%;
    transition: all 0.3s;
}
.container_box.openned_right .darkness, .container_box.openned_left .darkness{
	background-color: rgba(0,0,0,0.3);
	z-index: 7;
	transition: all  0.3s;
}
.side-mobile {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 3;
	width: 300px;
	padding: 30px;
	background: #fff;
	overflow-x: auto;
}
.menu-mobile{
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	z-index: 3;
	width: 300px;
	padding: 30px 0 0 30px;
	background: #fff;
	overflow-x: auto;
}

.content, footer{
	position: relative;
	z-index: 3;
}
.content{
	padding-top: 73px;
}
/*------header-----*/

header{
	padding: 14px 0px;
}
.header-wrapper{
	background: #333;
	position: fixed;
	width: 100%;
	z-index: 5;
}
.logo{
	margin-right: 35px;
}
.logo a{
	color: #ec7a5c;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 1.35em;
	display: block;
}
.tools {
	padding:10px 15px;
	font-size: 1em;
}
.tools ul li{
	float: left;
	margin-right: 3px;
}
.tools ul li a, .hamb{
	color: #fff;
}
.tools_num{
	margin-left: 3px;
	font-size: 14px;
}
.wish{
	display: none;
}


.search{
	display: none;
}

header .menu{
	display: none;
}
.menu ul li{
	margin-right: 10px;
}
.menu ul li a{
	display: block;
	color: #555;
	text-transform: uppercase;
	font-family: sans-serif;
	padding: 20px 15px;
	font-size: 0.9em;
	font-weight: 600;
}
.hamb{

}
/*hamb-animation*/
.hamburger-icon {
  width: 40px;
  height: 24px;
  position: relative;
  display: block;
  margin-top: 7px;
}
.hamburger-icon .line {
  display: block;
  background: #fff;
  width: 40px;
  height: 2px;
  position: absolute;
  left: 0;
  border-radius: 4px;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
}
.hamburger-icon .line.line-1 {
  top: 0;
}
.hamburger-icon .line.line-2 {
  top: 50%;
}
.hamburger-icon .line.line-3 {
  top: 100%;
}

.container_box.openned_right .hamburger-icon .line-1 {
  transform: translateY(13px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(13px) translateX(0) rotate(45deg);
  -moz-transform: translateY(13px) translateX(0) rotate(45deg);
}
.container_box.openned_right .hamburger-icon .line-2 {
  opacity: 0;
}
.container_box.openned_right .hamburger-icon .line-3 {
  transform: translateY(-12px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-12px) translateX(0) rotate(-45deg);
}


.arrow-icon {
  width: 30px;
  height: 24px;
  position: relative;
  display: block;
  margin-top: 14px;
}
.arrow-icon .arrow-line {
  display: block;
  background: #fff;
  width: 30px;
  height: 2px;
  position: absolute;
  left: 0;
  border-radius: 4px;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
}
.arrow-icon .arrow-line.line-1 {
  top: 0;
}
.arrow-icon .arrow-line.line-2 {
  top: 100%;
}
.arrow-icon .line-1 {
  transform: translateY(0px) translateX(0) rotate(55deg);
  -webkit-transform: translateY(0px) translateX(0) rotate(55deg);
  -moz-transform: translateY(0px) translateX(0) rotate(55deg);
}
.arrow-icon .line-2 {
  transform: translateY(0px) translateX(0) rotate(-55deg);
  -webkit-transform: translateY(0px) translateX(0) rotate(-55deg);
  -moz-transform: translateY(0px) translateX(0) rotate(-55deg);
}
.container_box.openned_left .arrow-icon .line-1 {
  transform: translateY(0px) translateX(0) rotate(125deg);
  -webkit-transform: translateY(0) translateX(0) rotate(125deg);
  -moz-transform: translateY(0px) translateX(0) rotate(125deg);
}
.container_box.openned_left .arrow-icon .line-2 {
  transform: translateY(-0) translateX(0) rotate(-125deg);
  -webkit-transform: translateY(0) translateX(0) rotate(-125deg);
  -moz-transform: translateY(0) translateX(0) rotate(-125deg);
}

/*hamb-animation-end*/
/*-------header-end------*/

/*-----content-mobile-----*/

.products-wrap{
	display: flex;
	flex-direction: column;
}
.page-title{
	max-width: 800px;
	margin: auto;
	color: #555;
	text-align: center;
	font-size: 4.5em;
	padding-top: 47px;
	margin-bottom: 28px;
}




.woocommerce-result-count{
	display: none;
}
.woocommerce-ordering{
	padding-right: 10px;
}
.orderby{
	float: right;
    margin-bottom: 15px;
    border: none;
    width: 230px;
    height: 25px;
    background: #f5f5f5;
    border-radius: 2px;
    color: #666;
    padding-left: 10px;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    -webkit-appearance:none;
}
.products li{
	position: relative;
	padding: 0 10px 20px;
	float: left;
	width: 33.333%;
	overflow: hidden;
	margin-bottom: 20px;
}
.products >li:nth-of-type(3n+1) {
    clear: both;
}
.products li img{
	max-width: 100%;
	height: auto;
}
.categories{
	margin-bottom: 60px;
}
.categories ul{
	text-align: center;
}
.product-category {
	display: inline-block;
	margin: 0px 12px;
	border-bottom: solid 1px rgba(1,1,1,0.12)
}
.product-category h3{
	text-transform: uppercase;
	margin: 0;
	font-size: 14px;
}
.product-category a{
	padding: 10px 0;
	display: block;
}
.product-category mark, .product-category img{
	display: none;
}
.onsale{
	position: absolute;
	top: 15px;
	left: 15px;
	text-transform: uppercase;
	color: #eee;
	font-weight: bold;
	font-size: 13px;
	padding: 3px 8px;
	background: #ec7a5c;
}
h3{
	color: #555;
	font-weight: 400;
	text-transform: capitalize;
}
.products h3{
	margin: 8px 0 3px 0;
	font-size: 13px;
}
.price{
	font-size: 16px;
	color:rgba(84,84,84,0.55);
	display: block;
	left: 10px;
	transition: 0.25s;
}
.add_to_cart_button, .product_type_simple{
	display: block;
	margin-top: 3px;
	left: 10px;
	transition: 0.25s;
	color: #ec7a5c;
	text-transform: uppercase;
	font-size: 13px;
}
.add_to_cart_button.go_cart{
	bottom: 18px;
	opacity: 0;
	transition: 0.25s;
}
.price.hide_price{
	bottom: 18px;
	opacity: 0;
	transition: 0.25s;
}
.added_to_cart{
	font-size: 13px;
	color: #ec7a5c;
	position: absolute;
	animation: cart_anim_m 0.15s ease-out;
	text-transform: uppercase;
	bottom: 19px;
}

.products{
	font-size:13px;
}



/*-----content-mobile-end---*/

/*---side-part--*/

.side_btn{
	position: absolute;
    left: 0;
    background: #333;
    width: 5px;
    height: 100%;
    top: 0;
    z-index: 10;
}
.little{
	width: 26px;
    height: 55px;
    top: 150px;
    position: fixed;
    background: #333;
}

/*aside*/
aside{
	
}
.price_slider_wrapper{
	margin-top: 30px;
	margin-bottom: 30px;
}
.price_slider{
	position: relative;
	height: 5px;
	background: #888;
	border-radius: 10px;
	margin-right: 15px;
}
.price_label{
	margin-top: 15px;
	font-size:11px ;
	color: #787878;
}
form .price_slider_wrapper .price_slider_amount button{
	float: right;
	margin: 0;
	padding: 0;
	background: none;
	color:#ec7a5c;
	text-transform: uppercase; 
	font-size: 13px
}
.ui-slider-range{
    position: absolute;
    width: 100%;
    background: rgb(236, 122, 92);
    z-index: 1;
    font-size: 0.7em;
    border: 0px;
    border-radius: 0px;
    top: 0px;
    height: 100%;
}
.ui-slider-handle{
    background: rgb(255, 255, 255);
    border-width: 3px;
    border-style: solid;
    width: 15px;
    height: 15px;
    top: -5px;
    border-color: rgb(236, 122, 92);
    position: absolute;
    z-index: 2;
    border-radius: 15px;
    outline: 0;
    cursor: ew-resize;
}
.product-categories{

}
.cat-item{
	position: relative;
	margin-top: 10px;
}
.cat-item span{
	position: absolute;
	right: 0;
	padding: 0px 9px;
    background: #dadada;
    border-radius: 12px;
}
.cat-item a {
	color: #999;
	font-size:0.9em;
}
.widgettitle{
	margin-bottom: 30px;
	display:block;
}
/*aside-end*/


.page-numbers li{
	float: left;
	margin-right: 5px;
}
.page-numbers li a, .page-numbers li span{
	color: #ec7a5c;
	padding: 15px 16px;
	font-weight: 600;
	display: block;
}
.page-numbers li:first-child a, .page-numbers li:first-child span{
	padding-left: 0;
}
.page-numbers .current{
	color: #9c1818;
}
.woocommerce-pagination{   
	margin: 20px 0px 20px 10px;
}
footer{
	background: #eee;
	padding: 60px 0 50px;
	text-align: center;
}
footer a{
	color: #555;
	font-size: 1.6em;
	padding: 5px 5px;
    margin: 0 8px;
    transition:0.3s;
}
footer a:hover{
	color: #ec7a5c;
	transition:0.3s;
}
.copy{
	font-size:9px;
	color: #a0a0a0;
	margin-top: 15px;
}


/*-----side-part-end-----*/
/*------single-product----*/
.star-rating{
	font-size: 14px;
    margin: 0 0 8px;
    top: 2px;
    display: block;
    float: none;
    width: 66px;
    font-family: star;
   	overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    color: #545454;
}
.star-rating::before, .woocommerce-page .star-rating::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "\f005\f005\f005\f005\f005";
    color: #a1a1a1;
}
.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
    color: #545454;
}
.star-rating span::before, .woocommerce-page .star-rating span::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "\f005\f005\f005\f005\f005";
    color: #EC7A5C;
}
.star-rating span:before {
	top: 0;
    position: absolute;
    left: 0;
}
/*------single-product-end---*/
/*single page*/
.single-wrap{
	width: 100%;
	margin: 0 auto;
}
.images, .summary{
	float: left;
	width: 100%;
}
.images{
	margin-bottom: 40px;
	text-align: center;
}
.summary{
	position: relative;
	margin-bottom: 65px;
}
.woocommerce-main-image img{
	width: 90%;
	height: 90%;
}
.woocommerce-tabs{
	clear: both;
	padding-bottom:40px;
	border-top:solid 1px rgba(1,1,1,0.12);
	border-bottom:solid 1px rgba(1,1,1,0.12);
}
.product_title{
	font-size: 2.5em;
	color: #555;
	margin: 0 0 15px;
	text-align: center;
}
.woocommerce-product-rating{
	position: absolute;
	bottom: -40px;
	font-size: 0.8em;
	color: #454545;
}
.summary .price{
	margin-bottom: 15px;
	font-size: 2em;
	color: #ec7a5c;
	text-align: center;
}
.summary .price del{
	color: #cacaca;
	font-size: 0.65em;
	font-weight: 300;
}
div[itemprop="description"] p{
	font-size: 1.1em;
	color: #525252;
	margin-bottom: 15px;
}
.quantity{
	float: left;
	margin-right: 10px;
}
.single_add_to_cart_button{
	height: 50px;
	width:200px;
	background: #ec7a5c;
	color: #fff;
	font-size: 1em;
	border: none;
	cursor: pointer;
	opacity: 1;
	transition:  0.4s;
}
.single_add_to_cart_button:hover{
	opacity: 0.75;
	transition: 0.4s;
}
.cart{
	margin-bottom: 15px;
	height: 50px;
}
input[name="quantity"]{
	height: 50px;
    font-size: 23px;
    width: 60px;
    text-align: center;
    padding: 0 0 0 15px;
    border: none;
    border-bottom:solid 1px #cacaca;
    color: #555;
}
.posted_in{
	color: #bbb;
	font-size: 0.9em;
}
.posted_in a{
	color: #ec7a5c;
}
.wc-tabs{
	text-align: center;
}
.wc-tabs li{
	display: inline-block;
	margin-right: 20px;
	transition: 0.4s;
	border-top: 3px solid #fff;
}
.wc-tabs li a{
	padding: 24px 26px;
    display: block;
    color: #bababa;
    text-transform: uppercase;
}
.wc-tabs li.active{
	border-top: 3px solid #ec7a5c;
	transition: 0.4s;
}
.wc-tabs li.active a{
	color: #555;
}
.wc-tabs li:last-child{

}
.shop_attributes{
	text-align: left;
}
.shop_attributes th, .shop_attributes td{
	padding: 13px 0;
}
.shop_attributes th{
	width: 150px;
}
.wc-tab{
	color: #555;
}
.wc-tab h2{}
/*---review----*/
p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    color: #EC7A5C;
}
p.stars a::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: WooCommerce;
    text-indent: 0;
}
p.stars.selected a:not(.active):before {
    content: "\e020";
}
p.stars.selected a.active:before, p.stars:hover a:before {
    content: "\e020";
}
p.stars.selected a.active~a:before {
    content: "\e021";
}
p.stars a:before,p.stars a:hover~a:before {
    content: "\e021";
}
.comment-reply-title{
	font-weight: 600;
	font-size: 24px;
}
/*single page - end*/
.content aside{
	display: none;
}

.row{
	width: 90%;
	margin: 0 auto;
}



.f-left{
	float:left;
}
.f-right{
	float: right;
}
.right{
	right: 0;
}
.left{
	left: 0;
}
.p-right{
	padding-right: 10px;
}
.p-left{
	padding-left: 10px;
}
.row .col-sm-1 	{ width: 8.333333333%; }
.row .col-sm-2 	{ width: 16.666666666%; }
.row .col-sm-3 	{ width: 25%; }
.row .col-sm-4   { width: 33.333333333%; }
.row .col-sm-5 	{ width: 41.666666667%; }
.row .col-sm-6 	{ width: 50%; }
.row .col-sm-7 	{ width: 58.333333333%; }
.row .col-sm-8 	{ width: 66.666666667%; }
.row .col-sm-9 	{ width: 75%; }
.row .col-sm-10  { width: 83.333333333%; }
.row .col-sm-11  { width: 91.666666667%;}
.row .col-sm-12  { width: 100%; }
}
@media only screen and (min-width: 980px){

/*------header-----*/
.header-wrapper{
	background: #fff;
	width: 100%;
	transition: 0.4s;
	position: absolute;
	top: 0;
}
.header-wrapper.fixed{
	position: fixed;
	background: #555;
	top: 0;
	z-index: 12;
	transition: 0.4s;
}
.header-wrapper.fixed header{
	padding: 12px 0px;
	transition: 0.4s;
}
header{
	padding: 22px 0px;
	transition: 0.4s;
}
.logo{
	margin-right: 35px;
}
.logo a{
	color: #ec7a5c;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 1.5em;
	display: block;
	transition: 0.4s;
}
.header-wrapper.fixed .logo a {
	font-size: 1.1em;
	transition: 0.4s;
}
.tools {
	padding:10px 0;
	font-size: 1em;
}
.tools ul li{
	float: left;
	margin-left: 13px;
}
.tools ul li a{
	color: #444;
	transition: 0.4s;
}
.header-wrapper.fixed .tools ul li a{
	color: #fff;
	transition: 0.4s;
}
.tools_num{
	margin-left: 3px;
	font-size: 14px;
}
.wish{

}


.search_line input[type=submit], .search_line label{
	display: none;
}
.search{
	margin-right: 7px;
}
.search-field{
	width: 0;
	border: none;
	transition: 0.4s;
	opacity: 0;
}
.search-field.show{
	border: 1px solid #999;
	width: 200px;
	transition: all 0.4s;
	border-radius: 3px;
	height: 1.9em;
	opacity: 1;
	transition-timing-function: cubic-bezier(0,0.5,0.5,1);
}
.menu{
	float: left;
}
.menu ul li{
	float: left;
	margin-right: 10px;
}
.menu ul li a{
	display: block;
	color: #555;
	text-transform: uppercase;
	font-family: sans-serif;
	padding: 12px 15px;
	font-size: 0.9em;
	font-weight: 600;
}
.header-wrapper.fixed .menu ul li a{
	color: #fff;
}
.hamb{
	display: none;
}
/*-------header-end------*/

/*aside*/
aside{
	padding-right: 30px;
}
.widget{
	border-bottom: solid 1px rgba(1,1,1,0.12);
	padding: 50px 0;
}
.widget:last-child{
	border: none;
}
.widget:first-child{
	padding-top: 78px;
}
.price_slider_wrapper{
	margin-top: 30px;
}
.price_slider{
	position: relative;
	height: 5px;
	background: #888;
	border-radius: 10px;
	margin-right: 15px;
}
.price_label{
	margin-top: 15px;
	font-size:11px ;
	color: #787878;
}
form .price_slider_wrapper .price_slider_amount button{
	float: right;
	margin: 0;
	padding: 0;
	background: none;
	color:#ec7a5c;
	text-transform: uppercase; 
	font-size: 13px
}
.ui-slider-range{
    position: absolute;
    width: 100%;
    background: rgb(236, 122, 92);
    z-index: 1;
    font-size: 0.7em;
    border: 0px;
    border-radius: 0px;
    top: 0px;
    height: 100%;
}
.ui-slider-handle{
    background: rgb(255, 255, 255);
    border-width: 3px;
    border-style: solid;
    width: 15px;
    height: 15px;
    top: -5px;
    border-color: rgb(236, 122, 92);
    position: absolute;
    z-index: 2;
    border-radius: 15px;
    outline: 0;
    cursor: ew-resize;
}
.product-categories{

}
.cat-item{
	position: relative;
	margin-top: 10px;
}
.cat-item span{
	position: absolute;
	right: 0;
	padding: 0px 9px;
    background: #dadada;
    border-radius: 12px;
}
.cat-item a {
	color: #999;
	font-size:0.9em;
}
.widgettitle{
	margin-bottom: 30px;
	display:block;
}
/*aside-end*/
/*-------contennt--------*/
.content{
	margin-top: 120px;
	margin-bottom: 30px;
}
.title-box{
	margin:auto 20px;	
}
.products >li:nth-of-type(4n+1){
	clear: both;
}
.products >li:nth-of-type(6n+1){
	clear: none;
}
.products-wrap{
	display: flex;
	flex-direction: column;
}
.page-title{
	max-width: 800px;
	margin: auto;
	color: #555;
	text-align: center;
	font-size: 4.5em;
	margin-bottom: 28px;
}
.woocommerce-result-count{
	text-align: right;
	margin-bottom: 10px;
	position: relative;
    top: 32px;
    right: 255px;
    font-size: 13px;
    color: #9a9a9a;
}
.woocommerce-ordering{
	padding-right: 10px;
}
.orderby{
	float: right;
    margin-bottom: 15px;
    border: none;
    width: 230px;
    height: 25px;
    background: #f5f5f5;
    border-radius: 2px;
    color: #666;
    padding-left: 10px;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    -webkit-appearance:none;
}
.products li{
	position: relative;
	padding: 0 10px 20px;
	float: left;
	width: 25%;
	overflow: hidden;
	margin-bottom: 20px;
}
.products li img{
	max-width: 100%;
	height: auto;
}
.categories ul{
	text-align: center;
}
.product-category {
	display: inline-block;
	margin: 0px 12px;
	border-bottom: solid 1px rgba(1,1,1,0.12)
}
.product-category h3{
	text-transform: uppercase;
	margin: 0;
	color: #555;
	font-size: 14px;
	font-weight: 400;
}
.product-category a{
	padding: 10px 0;
	display: block;
}
.product-category mark, .product-category img{
	display: none;
}
.onsale{
	position: absolute;
	top: 15px;
	left: 15px;
	text-transform: uppercase;
	color: #eee;
	font-weight: bold;
	font-size: 13px;
	padding: 3px 8px;
	background: #ec7a5c;
}
h3{
	color: #555;
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
}
.products h3{
}

.products .price{
	font-size: 16px;
	color:rgba(84,84,84,0.55);
	position: absolute;
	bottom: 3px;
	left: 10px;
	transition: 0.25s;
}
.add_to_cart_button, .product_type_simple{
	position: absolute;
	bottom: -18px;
	left: 10px;
	transition: 0.25s;
	color: #ec7a5c;
	text-transform: uppercase;
	font-size: 13px;
}
.add_to_cart_button.go_cart{
	bottom: 18px;
	opacity: 0;
	transition: 0.25s;
}
.price.hide_price{
	bottom: 18px;
	opacity: 0;
	transition: 0.25s;
}
.products .product:hover .product_type_simple{
	bottom: 5px;
	transition: 0.25s;
}
.products .product:hover .product_type_simple.go_cart{
	bottom: 18px;
}
.products .product:hover .price{
	bottom: 18px;
	opacity: 0;
	transition: 0.25s;
}
.added_to_cart{
	font-size: 13px;
	color: #ec7a5c;
	position: absolute;
	animation: cart_anim 0.15s ease-out;
	text-transform: uppercase;
}


/*--------content-end------*/
/*---------item--------*/
.product{
	position: relative;
}
.products .product h3{
	font-size: 14px;
	margin:10px 0 3px;
}
.star-rating{
	font-size: 14px;
    margin: 0 0 8px;
    top: 2px;
    display: block;
    float: none;
    width: 66px;
    font-family: star;
   	overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    color: #545454;
}
.star-rating::before, .woocommerce-page .star-rating::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "\f005\f005\f005\f005\f005";
    color: #a1a1a1;
}
.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
    color: #545454;
}
.star-rating span::before, .woocommerce-page .star-rating span::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "\f005\f005\f005\f005\f005";
    color: #EC7A5C;
}
.star-rating span:before {
	top: 0;
    position: absolute;
    left: 0;
}
/*---------item-end-------*/
.page-numbers li{
	float: left;
	margin-right: 5px;
}
.page-numbers li a, .page-numbers li span{
	color: #ec7a5c;
	padding: 15px 16px;
	font-weight: 600;
}
.page-numbers li:first-child a, .page-numbers li:first-child span{
	padding-left: 0;
}
.page-numbers .current{
	color: #9c1818;
}
.woocommerce-pagination{   
	margin: 20px 0px 20px 10px;
}


footer{
	background: #eee;
	padding: 60px 0 50px;
	text-align: center;
}
footer a{
	color: #555;
	font-size: 1.6em;
	padding: 5px 5px;
    margin: 0 8px;
    transition:0.3s;
}
footer a:hover{
	color: #ec7a5c;
	transition:0.3s;
}
.copy{
	font-size:9px;
	color: #a0a0a0;
	margin-top: 15px;
}

.side-mobile, .menu-mobile{
	display: none;
}

.m-right{
	margin-right: 10px;
}
.m-left{
	margin-left: 10px;
}
.p-right{
	padding-right: 10px;
}
.p-left{
	padding-left: 10px;
}
.f-left{
	float:left;
}
.f-right{
	float: right;
}

.clear{clear:both;}
.row{padding:0 50px;}
.row .col-mid-1 	{ width: 8.333333333%; }
.row .col-mid-2 	{ width: 16.666666666%; }
.row .col-mid-3 	{ width: 25%; }
.row .col-mid-4   { width: 33.333333333%; }
.row .col-mid-5 	{ width: 41.666666667%; }
.row .col-mid-6 	{ width: 50%; }
.row .col-mid-7 	{ width: 58.333333333%; }
.row .col-mid-8 	{ width: 66.666666667%; }
.row .col-mid-9 	{ width: 75%; }
.row .col-mid-10  { width: 83.333333333%; }
.row .col-mid-11  { width: 91.666666667%;}
.row .col-mid-12  { width: 100%; }

/*single page*/
.single-wrap{
	width: 100%;
	margin: 0 auto;
}
.images, .summary{
	float: left;
	width: 50%;
}
.images{
	margin-bottom: 40px;
}
.summary{
	padding-left: 30px;
	position: relative;
}
.woocommerce-main-image{
	float: left;
    display: block;
    width: 83.333%;
}
.woocommerce-main-image img{
	width: 100%;
	height: 100%;
	max-width: 510px;
}
.thumbnails{
	width: 16.666%;
	float: left;
}
.thumbnails a{
	display: block;
	text-align: center;
	margin-bottom: 20px;
}
.woocommerce-tabs{
	clear: both;
	padding-bottom:40px;
	border-top:solid 1px rgba(1,1,1,0.12);
	border-bottom:solid 1px rgba(1,1,1,0.12);
}
.product_title{
	font-size: 2.5em;
	color: #555;
	margin: 0 0 15px;
}
.woocommerce-product-rating{
	position: absolute;
	bottom: -40px;
	font-size: 0.8em;
	color: #454545;
}
.summary .price{
	margin-bottom: 15px;
	font-size: 2em;
	color: #ec7a5c;
}
.summary .price del{
	color: #cacaca;
	font-size: 0.65em;
	font-weight: 300;
}
div[itemprop="description"] p{
	font-size: 1.1em;
	color: #525252;
	margin-bottom: 15px;
}
.quantity{
	float: left;
	margin-right: 10px;
}
.single_add_to_cart_button{
	height: 50px;
	width:200px;
	background: #ec7a5c;
	color: #fff;
	font-size: 1em;
	border: none;
	cursor: pointer;
	opacity: 1;
	transition:  0.4s;
}
.single_add_to_cart_button:hover{
	opacity: 0.75;
	transition: 0.4s;
}
.cart{
	margin-bottom: 15px;
	height: 50px;
}
input[name="quantity"]{
	height: 50px;
    font-size: 23px;
    width: 60px;
    text-align: center;
    padding: 0 0 0 15px;
    border: none;
    border-bottom:solid 1px #cacaca;
    color: #555;
}
.posted_in{
	color: #bbb;
	font-size: 0.9em;
}
.posted_in a{
	color: #ec7a5c;
}
.wc-tabs{
	text-align: center;
}
.wc-tabs li{
	display: inline-block;
	margin-right: 20px;
	transition: 0.4s;
	border-top: 3px solid #fff;
}
.wc-tabs li a{
	padding: 24px 26px;
    display: block;
    color: #bababa;
    text-transform: uppercase;
}
.wc-tabs li.active{
	border-top: 3px solid #ec7a5c;
	transition: 0.4s;
}
.wc-tabs li.active a{
	color: #555;
}
.wc-tabs li:last-child{

}
.shop_attributes{
	text-align: left;
}
.shop_attributes th, .shop_attributes td{
	padding: 13px 0;
}
.shop_attributes th{
	width: 150px;
}
.wc-tab{
	color: #555;
}
.wc-tab h2{}


/*---review----*/
p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    color: #EC7A5C;
}
p.stars a::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: WooCommerce;
    text-indent: 0;
}
p.stars.selected a:not(.active):before {
    content: "\e020";
}
p.stars.selected a.active:before, p.stars:hover a:before {
    content: "\e020";
}
p.stars.selected a.active~a:before {
    content: "\e021";
}
p.stars a:before,p.stars a:hover~a:before {
    content: "\e021";
}
.comment-reply-title{
	font-weight: 600;
	font-size: 24px;
}
/*single page - end*/

}
@media only screen and (min-width: 1280px){

.products >li:nth-of-type(4n+1){
	clear: none;
}
.products >li:nth-of-type(6n+1){
	clear: both;
}

.products li{
	width: 16.666%;
}
.single-wrap{
	width: 85%;
}

.row .col-1 	{ width: 8.333333333%; }
.row .col-2 	{ width: 16.666666666%; }
.row .col-3 	{ width: 25%; }
.row .col-4   { width: 33.333333333%; }
.row .col-5 	{ width: 41.666666667%; }
.row .col-6 	{ width: 50%; }
.row .col-7 	{ width: 58.333333333%; }
.row .col-8 	{ width: 66.666666667%; }
.row .col-9 	{ width: 75%; }
.row .col-10  { width: 83.333333333%; }
.row .col-11  { width: 91.666666667%;}
.row .col-12  { width: 100%; }
}
@media only screen and (min-width: 1600px){
.single-wrap{
	width: 75%;
}
}